<!DOCTYPE html>
<html ng-app="foodHygieneApp">
<head>
    <title>Food Hygiene Rating by Authorities</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="RatingCtrl.js"></script>
</head>

<body>
<div class="container" ng-controller="RatingCtrl">
    <div class="header clearfix">
        <h3 class="text-muted">Food Hygiene Rating <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate" ng-if="loading"></span></h3>
    </div>

    <div class="main">
        <div class="col-xs-7">
            <select class="form-control col-xs-7" ng-model="authorityId" ng-change="clearTable()" ng-disable="loading">
                <option value=''>Select an authority </option>
                <option ng-repeat="authority in authorities" value="{{authority.LocalAuthorityId}}">{{authority.Name}}
                </option>
            </select>

        </div>
        <button class="btn btn-info" ng-click="getRatingDistribution()" ng-disabled="!authorityId">Get rating
            distribution
        </button>

        <p ng-if="errorMessage">{{errorMessage}}</p>

        <div class="table-container">
            <table class="table table-bordered table-striped" ng-if="distributions">
                <thead>
                <tr>
                    <td>
                        Rating Catetory
                    </td>
                    <td>
                        Percentage
                    </td>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="distribution in distributions">
                    <td>{{ distribution.name }}</td>
                    <td>{{ distribution.percentage }}%</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <footer class="footer">
        <p>Wei Luo 2015</p>
    </footer>
</div>
</body>
</html>